* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e6d2b5;
    font-family: Georgia, serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.heart {
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    width: 550px;
    animation: beatHeart 1.5s ease-in-out infinite;
}


@keyframes beatHeart {
    0%   { transform: translateX(-50%) scale(1); }
    50%  { transform: translateX(-50%) scale(1.08); }
    100% { transform: translateX(-50%) scale(1); }
}

.bear-left,
.bear-right {
    position: absolute;
    bottom: 0;
    width: 260px;
    animation: fadeBear 2s ease forwards;
}

.bear-left {
    left: 2%;
}

.bear-right {
    right: 2%;
}

@keyframes fadeBear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.date-box {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: black;
    letter-spacing: 2px;
    animation: fadeText 2s ease forwards;
}

.date-box span {
    margin: 0 25px;
}

.arrow {
    color: #9dbb88;
    font-size: 45px;
}

.days {
    margin-left: 40px;
}

@keyframes fadeText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
