* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #e6d2b5;
    font-family: Georgia, serif;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 480px;
    height: 100vh;
    margin: auto;
    position: relative;
}

.heart {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    max-width: 300px;
    animation: beatHeart 1.5s ease-in-out infinite;
}

@keyframes beatHeart {
    0%   { transform: translateX(-50%) scale(1); }
    50%  { transform: translateX(-50%) scale(1.08); }
    100% { transform: translateX(-50%) scale(1); }
}

.date-box {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}

.date-line {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}

.days {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.bear-left,
.bear-right {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    width: 40%;
    max-width: 190px;
    animation: fadeBear 2s ease forwards;
}

.bear-left {
    left: -18%;
}

.bear-right {
    right: -18%;
}


@keyframes fadeBear {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

